.section-container {
    padding-top: 10px;
    background-color: white;
  }

  .text-col2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  
  .image-col3 {
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    padding: 0;
  }
  
  .image {
    width: 100%;
    height: 100%;
    object-fit:fill;
  }

  .section-title {
    padding-bottom: 30px;
  }