.wrapper {
    flex: 1;
    display: flex;
    flex-direction: column;
  }

.safety-guide-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-bottom: 20px;
}

.section-title {
    padding-top: 20px;
    padding-bottom: 50px;
}

.centered {
    display: flex;
    text-align: center;
    justify-content: center; 
}

.footer {
    margin-top: auto;
}